.Content {
    position: absolute;
    display: flex;
    background: #0a53be;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.CardAuth {
    display: inline-block;
    flex-direction: column;
    width: 474px;
    height: 334px;
    padding: 20px;
    background: white;
    margin-bottom: 100px;
}

.cardRow {
    display: flex;
    flex-direction: column;
    background: red;
    margin: 10px;
}

#title {
    text-align: center;
}

