* {
    margin: 0;
    padding: 0;
}

.content-lesson {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background: #ffffff;
    height: 600px;
    width: 30vw;
    margin-top: 60px;
    padding: 18px;
    border: #dce1e6 solid 1px;
    border-radius: 20px;
    
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.box-title {
    display: flex;
    align-items: start;
    width: 100%;margin-bottom: 20px;
    font-size: 20px;
}

.content-fill {
    font-size: 20px;
}

.box-content {
    width: 100%;
    height: 100%;
}

.box-content-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.box-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.margin-box {
    margin: 10px;
}

.required {
    color: red;
}