@page "/tutor/main"
@using EducationClubs.ScaffoldedModels;
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@using System.Linq
@using System.Threading
@using EducationClubs.RazorComponents.Dialogues
@using Microsoft.VisualBasic
@using MudBlazor.Extensions
@inject EducationClubContext EducationClubContext
@inject AppGeneralSettings AppGeneralSettings
@inject IDialogService DialogService
<MudButton DisableElevation="true" Style="background-color: #dfeaf6; float: right; color: #3567bf;  position: absolute; top: 90px; right: 214px; border-radius: 10px;" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" @onclick="OpenDialog">Занятие</MudButton>
<div class="board">
    @if (isLessonBoardInit)
    {
        <LessonBoard listLesson="_listLesson" AddClassList="_listAdditionalClasses" authTutor="AppGeneralSettings.AuthTutor"/>
    }
</div>

<div class="background">

@if (AppGeneralSettings.authAccount == null)
{
    <p>403</p><div>&nbsp;</div>
    <p>Forbidden</p>
}
else
{
    <div>&nbsp;</div>
}
</div>

@if (isHeadermenuInit)
{
    <HeaderMenu/>    
}

@code {
    private List<AdditionalClass> _listAdditionalClasses = new List<AdditionalClass>();
    public List<Lesson> _listLesson = new List<Lesson>();
    private bool isHeadermenuInit = false;
    private bool isLessonBoardInit = false;
    
    private DateTime firstDayOfWeek = DateTime.Now;
    private DateTime lastDayOfWeek = DateTime.Now;
    
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    
    protected override async Task OnInitializedAsync()
    {
        if (AppGeneralSettings.authAccount == null)
        {
            return;
        }

        if (AppGeneralSettings.AuthTutor == null)
        {
            return;
        }
        
        firstDayOfWeek = System.DateTime.Now.StartOfWeek(System.DayOfWeek.Monday);
        lastDayOfWeek = firstDayOfWeek.AddDays(6);
        
        await GetAdditionalClass();
        await GetListLessonOfWeek();

        isHeadermenuInit = true;
        isLessonBoardInit = true;
        
        // await Task.Run(() => GetAdditionalClass());
    }

    async Task GetAdditionalClass()
    {
        _listAdditionalClasses = await EducationClubContext.AdditionalClasses.Where(xo => AppGeneralSettings.AuthTutor != null && xo.TutorId == AppGeneralSettings.AuthTutor.Id).ToListAsync();
    }

    async Task GetListLessonOfWeek()
    {
        _listLesson = await EducationClubContext.Lessons.Where(x => 
            x.AdditionalClass != null && AppGeneralSettings.AuthTutor != null && x.TimeStart >= firstDayOfWeek && x.TimeFinish <= lastDayOfWeek && x.AdditionalClass.Tutor.Id == AppGeneralSettings.AuthTutor.Id
            ).ToListAsync();
    }
    
    async Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true  };
        DialogResult result = await DialogService.Show<LessonAddingDialog>("", options).Result;

        if (result.Canceled)
        {
            await GetAdditionalClass();
            await GetListLessonOfWeek();
        }
    }
}


