@page "/tutor/main"
@using EducationClubs.ScaffoldedModels;
@using Microsoft.EntityFrameworkCore
@inject EducationClubContext EducationClubContext
@inject BehaviourService BehaviourService

<HeaderMenu/>

@if (_listLesson.Count != 0)
{
    <p>@_listLesson[0].Title.ToString()</p>    
}
else
{
    <p>Пусто</p>    
}

@code {
    private List<AdditionalClass> _listLesson = new List<AdditionalClass>();
    private Tutor tutor = new Tutor();

    protected override async Task OnInitializedAsync()
    {
        await GetTutor();
        // добавить проверку header true init
        await GetAdditionalClass();
        
        // await Task.Run(() => GetAdditionalClass());
    }

    async Task GetAdditionalClass()
    {
        _listLesson = await EducationClubContext.AdditionalClasses.Where(xo => xo.TutorId == tutor.Id).ToListAsync();    
    }

    async Task GetTutor()
    {
        tutor = await EducationClubContext.Tutors.FirstOrDefaultAsync(x => x.AccountId.Value == BehaviourService.authAccount.Id);
    }

}