* {
    padding: 0;
    margin: 0;
}

.app {
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: "Nirmala UI";
}

.menuHeader {
    display: flex;
    height: 60px;
    background-image: linear-gradient(180deg, #ced8e3 0%, #3567bf 80%);
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.box-profile {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    margin-right: 0em;
    margin-bottom: 7px;
}

.title-text {
    color: white;
    font-size: 16px;
    padding: 5px; 
}

.box1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.nav-btns {
    float: left;
    background: #ddddff;
    margin-left: 30px;
}

img {
    clip-path: circle();
}
