@using Microsoft.EntityFrameworkCore
@inject BehaviourService BehaviourService
@inject EducationClubContext EducationClubContext
@using EducationClubs.ScaffoldedModels;

<div class="menu">
    <div class="box1">
        <div>
            <p>EducatucationClub</p>    
        </div>
        
        <div class="nav-btns">
            <button class="btnMenu">Главная</button>    
            <button class="btnMenu">Кружки</button>
        </div>
    </div>

    <div class="box-profile">
        <div>
            <p>@_tutor.Name</p>
            <p>@_tutor.Surname</p>
        </div>
        
        <div>
            <img alt="img"/>
        </div>
    </div>
    
</div>

@code {
    private Tutor _tutor = new Tutor();
    private bool isTutor = true;

    protected override async Task OnInitializedAsync()
    {
        if (BehaviourService.authAccount != null)
        {
            _tutor = await EducationClubContext.Tutors.FirstOrDefaultAsync(tutor => tutor.AccountId == BehaviourService.authAccount.Id);
        }
        else
        {
            _tutor.Name = "First Name";
            _tutor.Surname = "Last Name";
        }
    }

}