@using Microsoft.EntityFrameworkCore
@inject BehaviourService BehaviourService
@inject EducationClubContext EducationClubContext
@inject NavigationManager NavigationManager
@using EducationClubs.ScaffoldedModels;
@using Microsoft.IdentityModel.Tokens
@inject FileUploaderService FileUploaderService

<div class="menuHeader">
    <div class="box1">
        <div>
            <p class="app" @onclick="(() => OpenPage(TUTOR_MAIN))">Educatucation Club</p>    
        </div>
        
        <div class="nav-btns">
            <MudButton Style="background-color: #f4f7fe; color: #4318ff" Variant="Variant.Filled"  StartIcon="@Icons.Material.Filled.Add" @onclick="(() => OpenPage(TUTOR_LESSON_NEW))">Занятие</MudButton>
        </div>
    </div>

    @if (_tutor.AccountId != 0 || _tutor.AccountId != null)
    {
        <div class="box-profile" @onclick="(() => OpenPage(TUTOR_PROFILE))">
            <p class="title-text">@_tutor.Name</p>
            <p class="title-text">@_tutor.Surname</p>
           
            <div class="img-circle">
                @if (!imgUrl.IsNullOrEmpty())
                {
                    <img alt="img2" height="40" src="@imgUrl"/>
                }
                else
                {
                    <img alt="img2" height="40" src="https://users.cf.talkfusion.com/default-user-profile-image.png"/>
                }
            </div>
        </div>
    }   
</div>

@code {
    private Tutor _tutor = new Tutor();
    private bool isTutor = true;
        
    const String TUTOR_MAIN= "/tutor/main";
    const String TUTOR_LESSON_NEW= "/tutor/lesson/new";
    const String TUTOR_PROFILE= "/tutor/profile";
    
    String imgAuthTutor = "";

    [Parameter]
    public String imgUrl { get; set; }

    private string ValueChange { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (BehaviourService.authAccount != null)
        {
            _tutor = BehaviourService.AuthTutor;
        }
        else
        {
            _tutor.Name = "First Name";
            _tutor.Surname = "Last Name";
        }

        imgUrl = await FileUploaderService.GetImage(Folder.TUTOR, BehaviourService.AuthTutor.Id.ToString());
    }

    void OpenPage(String deeplink)
    {
        NavigationManager.NavigateTo(deeplink);
    }
}