
<div class="menu">
    <div class="box1">
        <div>
            <p>EducatucationClub</p>    
        </div>
        
        <div class="nav-btns">
            <button class="btnMenu">Главная</button>    
            <button class="btnMenu">Кружки</button>
        </div>
    </div>

    <div class="box-profile">
        <div>
            <p>First Name</p>
            <p>Last Name</p>
        </div>
        
        <div>
            <img alt="img"/>
        </div>
    </div>
    
</div>

@code {
    private bool isTutor = true;
}