@using Microsoft.EntityFrameworkCore
@using EducationClubs.ScaffoldedModels
@using Microsoft.IdentityModel.Tokens
@inject BehaviourService BehaviourService
@inject EducationClubContext EducationClubContext
@inject NavigationManager NavigationManager
@inject FileUploaderService FileUploaderService

<MudAppBar Style="margin-top: 1%; background-image: linear-gradient(180deg, #ced8e3 0%, #3567bf 80%); display: block; width: 95%; height: 8%; left: 50%; transform: translate(-50%, 0);  box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; align-items: center; border-radius: 10px">
    <div class="box1">

        <MudButton Style="color: white;">
            Главная страница
        </MudButton>
    </div>

    @if (_tutor.AccountId != 0 || _tutor.AccountId != null)
    {
        <div class="box-profile" @onclick="(() => OpenPage(TUTOR_PROFILE))">
            <p class="title-text">@_tutor.Name</p>
            <p class="title-text">@_tutor.Surname</p>
           
            <div>
                @if (!imgUrl.IsNullOrEmpty())
                {
                    <img alt="img2" height="50" src="@imgUrl"/>
                }
                else
                {
                    <img alt="img2" height="50" src="https://users.cf.talkfusion.com/default-user-profile-image.png"/>
                }
            </div>
        </div>
    }   
</MudAppBar>

@code {
    private Tutor _tutor = new Tutor();
    private bool isTutor = true;
        
    const String TUTOR_MAIN= "/tutor/main";
    const String TUTOR_LESSON_NEW= "/tutor/lesson/new";
    const String TUTOR_PROFILE= "/tutor/profile";
    
    String imgAuthTutor = "";

    [Parameter]
    public String imgUrl { get; set; }

    private string ValueChange { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (BehaviourService.authAccount != null)
        {
            _tutor = BehaviourService.AuthTutor;
        }
        else
        {
            _tutor.Name = "First Name";
            _tutor.Surname = "Last Name";
        }

        imgUrl = await FileUploaderService.GetImage(Folder.TUTOR, BehaviourService.AuthTutor.Id.ToString());
    }

    void OpenPage(String deeplink)
    {
        NavigationManager.NavigateTo(deeplink);
    }
}