* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cardLesson {
    width: 500px;
    height: 250px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(41,64,255,0.1);
    box-shadow: 0px 0px 15px 0px rgba(41,64,255,0.1);
}

.header-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    justify-content: space-between;
}

.list-lessons {
    margin: 10px;
    font-weight: bolder;
    color: #2b3674;
}

.lesson-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
}

hr.solid {
    margin: 0;
    padding: 0;
    border-top: 3px solid #b4bbff;
}

hr.solid2 {
    margin: 0;
    padding: 0;
    border-top: 3px solid #e5e7ff;
}


.content-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #dbdde8;
}

